* {
  margin: 0;
  padding: 0;
}

nav {
  width: 98%;
  height: 100px;
  background-color: green;
  margin: 1%;
}

body {
  max-width: 1440px;
  margin: auto;
}

main {
  margin: 1%;
  width: 98%;
}

.container {
  width: 100%;
  display: flex;
  margin-top: 1%;
}

#top .top-left {
  width: 20%;
  height: 500px;
  background-color: blue;
  margin-right: 1%;
}

#top .top-right {
  width: 80%;
  height: 500px;
  background-color: red;
}

#middle .middle-center {
  width: 100%;
  height: 500px;
  background-color: green;
}

#bottom {
  width: 100%;
  display: flex;
}

#bottom .bottom-left {
  width: 50%;
  height: 500px;
  background-color: blue;
  margin-right: 1%;
}

#bottom .bottom-right {
  width: 50%;
  height: 500px;
  background-color: red;
}

footer {
  width: 98%;
  height: 100px;
  background-color: green;
  margin: 1%;
}
