* {
    margin: 0;
    padding: 0;
  }

body {
    max-width: 1440px;
    margin: auto;
}

nav {
    width: 97.5%;
    height: 100px;
    background-color: #c4c4c4;
    margin: 31px 20px 0px;
}

main {
    margin: 20px;
}
.container {
    display: flex;
    margin: 20px 0px 0px 0px;
}

#h-wrapper div:nth-of-type(1) {
    width: 35%;
    height: 506px;
    margin-right: 41px;
    background-color: #c4c4c4;
}

#h-wrapper div:nth-of-type(2) {
    width: 65%;
    height: 506px;
    background-color: #c4c4c4;
}

#c-wrapper {
    width: 100%;
    height: 506px;
    margin: 48px 0px;
    background-color: #c4c4c4;

}

#b-wrapper div:nth-of-type(1) {
    width: 50%;
    height: 506px;
    margin-right: 55px;
    background-color: #c4c4c4;
}

#b-wrapper div:nth-of-type(2) {
    width: 50%;
    height: 506px;
    background-color: #c4c4c4;
}

footer {
    width: 97.5%;
    height: 120px;
    margin: 0px 20px 80px;
    background-color: #c4c4c4;
}

