nav {
    width: 100%;
    height: 131px;
    background: #C4C4C4;
}

main {
    width: 100%;
    background-color: white;
    display: flex;
}

aside {
    width: 433px;
    height: 655px;
    background-color: blue;
    margin-top: 40px;
}

.main {
    width: 878px;
    height: 655px;
    background-color: green;
    margin-top: 40px;
    margin-left: 42px;
}

.kotak3 {
    width: 100%;
    height: 506px;
    margin-top: 40px;
    background-color: aqua;
}

.kotak4 {
    display: flex;
}

.k1 {
    width: 50%;
    height: 506px;
    margin-top: 40px;
    background-color: black;
    margin-right: 20px;
}

.k2 {
    width: 50%;
    height: 506px;
    margin-top: 40px;
    background-color: royalblue;
    margin-left: 20px;
}

footer {
    width: 100%;
    height: 120px;
    margin-top: 40px;
    background-color: pink;
}
